{%extends "base.html"%} {%block content%}
<h1>{{ chapter.name }}</h1>
<p>{{ chapter.description }}</p>

{% if current_user.role == 'admin' %}
<a
  href="{{ url_for('main.edit_chapter', chapter_id=chapter.id) }}"
  class="btn btn-primary"
  >Edit chapter</a
>
<a
  href="{{ url_for('main.delete_chapter', chapter_id=chapter.id) }}"
  class="btn btn-danger"
  >Delete chapter</a
>
<a
  href="{{ url_for('main.add_quiz', chapter_id=chapter.id) }}"
  class="btn btn-primary"
  >Add Quiz</a
>

{% endif %} {% for quiz in quizzes %}
<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">{{ quiz.name }}</h5>
    <p class="card-text">{{ quiz.description }}</p>

    {% if current_user.role == 'admin' %}
    <a
      href="{{ url_for('main.quiz', quiz_id=quiz.id) }}"
      class="btn btn-primary"
      >View Quiz</a
    >
    <a
      href="{{ url_for('main.edit_quiz', quiz_id=quiz.id) }}"
      class="btn btn-primary"
      >Edit Quiz</a
    >
    <a
      href="{{ url_for('main.delete_quiz', quiz_id=quiz.id) }}"
      class="btn btn-danger"
      >Delete QUiz</a
    >
    {% else %}
    <a
      href="{{ url_for('main.quiz', quiz_id=quiz.id) }}"
      class="btn btn-primary"
      >Attempt Quiz</a
    >
    {% endif %}
  </div>
  {%endfor%}
</div>
{%endblock%}
