{% extends "base.html" %} {% block content %}
<h2>Edit Question</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.question_statement.label }}<br />
    {{ form.question_statement(rows=3, class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.option1.label }} {{ form.option1(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.option2.label }} {{ form.option2(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.option3.label }} {{ form.option3(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.option4.label }} {{ form.option4(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.correct_option.label }} {{ form.correct_option(class="form-select")
    }}
  </div>
  <button type="submit" class="btn btn-success">Save Changes</button>
</form>
<a
  href="{{ url_for('main.quiz', quiz_id=question.quiz_id) }}"
  class="btn btn-secondary mt-2"
  >Back</a
>
{% endblock %}
